spring:
  application:
    name: accounts-service
  jpa:
    properties:
      hibernate:
        use_sql_comments: 'true'
        format_sql: 'true'
        show_sql: 'true'
    hibernate:
      ddl-auto: update
    open-in-view: 'true'
  datasource:
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    url: jdbc:mysql://localhost:3306/accounts?autoReconnect=true&useSSL=true&characterEncoding=UTF-8&createDatabaseIfNotExist=true
  output:
    ansi:
      enabled: ALWAYS
server:
  port: 8421
