<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create an account and join our community</h1>
<h2>By creating an account you can fully enjoy our many features, such as posting messages and forum discussions, saving and sharing your plants and even buying and selling in our store</h2>
<form method="post">
    <input type="text" name="username"> <br>
    <input type="password" name="password"><br>
    <input type="password" name="confirm password"><br>
    <input type="text" name="e-mail"><br>
    <input type="date" name="birthday"><br>
    <input type="button" onsubmit="submitFunction">
</form>
</body>
</html>