server:
  port: 8420

spring:
  cloud:
    gateway:
      routes:
      - id: homepage
        uri: http://localhost:8419/
        predicates:
        - Path=/Homepage/**
      - id: components
        uri: http://localhost:8419/
        predicates:
        - Path=/components/**
      - id: accounts
        uri: http://localhost:8421/
        predicates:
        - Path=/accounts/**
      - id: register
        uri: http://localhost:8421/
        predicates:
        - Path=/Register/**
      - id: forums
        uri: http://localhost:8422/
        predicates:
        - Path=/forums/**
      - id: plants
        uri: http://localhost:8423/
        predicates:
        - Path=/plants/**
