server:
  port: 8420

spring:
  cloud:
    gateway:
      routes:
      - id: homepage
        uri: http://localhost:8419/
        predicates:
        - Path=/Homepage/**
      - id: accounts
        uri: http://localhost:8421/
        predicates:
        - Path=/accounts/**
      - id: forums
        uri: http://localhost:8422/
        predicates:
        - Path=/forums/**
      - id: forumsSections
        uri: http://localhost:8422/
        predicates:
        - Path=/forumsSections/**
      - id: section
        uri: http://localhost:8422/
        predicates:
        - Path=/section/**
        filters:
        - AddRequestParameter=forumSection, sectionId
      - id: plants
        uri: http://localhost:8423/
        predicates:
        - Path=/plants/**
