<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:8419/css/styles.css" />
    <meta charset="UTF-8">
    <title th:text="${discussion.title}"></title>
</head>
<body>
<div id="app">
    <v-app>
        <v-main>
            <site-navbar></site-navbar>

            <v-container color="#757f49">
                <h1 th:text="${discussion.title}"></h1>
                <div th:text="${discussion.textContent}"></div>
                <br>
                <div id="discussionsPages">
                    <v-pagination
                            v-model="page"
                            :length="allPages"
                            :total-visible="4"
                            @input="onChange"></v-pagination>
                </div>
                <v-card-text
                        outlined
                        v-for="item in items">

                    {{item.datePosted}}: {{item.content}}
                </v-card-text>
                <br>
                <form method="post" class="form-zone" action="#" th:action="@{/forums/discussion}" th:object="${newMessage}" >
                    <label for="message" class="form-label">Your message:</label><br>
                    <textarea type="textarea" rows="6" cols="80" name="message" class="form-field" th:field="*{content}"></textarea><br>
                    <div  th:if="${#fields.hasErrors('${newMessage.content}')}" th:errors="*{content}" class="error-label"></div>
                    <input type="hidden" th:field="*{parent}" th:value="*{parent}">
                    <input type="submit" value="Post" class="form-button">
                </form>
            </v-container>
        </v-main>
    </v-app>
</div>

<script src="https://unpkg.com/http-vue-loader"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:inline="javascript">
var data = {
        items: [],
        authors:[],
        page: 1,
        allPages:[[${totalPages}]]
    };

    new Vue({
      data: data,
      el: '#app',
      vuetify: new Vuetify(),
      components: {
          'site-navbar': httpVueLoader('/components/site-navbar.vue'),
        },
        methods: {
        getName:async function(userI){
        return await axios.get('/accounts/retrieve',{ params: { userID:userI} });
        },
            onChange: function(value) {
                this.page = value;
                this.items=[]
                axios.get('/forums/getDiscussionMessages',{ params: { discussionID:[[${discussion.id}]] ,page:this.page} })
          .then(response =>  this.items =response.data)
          //this.authors.forEach(x=>this.getName(x.poster).then(y=> this.items.push([x,JSON.parse(JSON.stringify(y.data))])))
          }
        },
        beforeMount(){
        this.onChange(1);
        }
    })

  </script>
</body>
</html>