<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>First web app</title>
</head>
<body>
<div>
<h1>Hello there buddy</h1>
    <h2>And welcome to the greatest abomination ever known to mankind</h2>
    <a href="http://localhost:8420/accounts"><button>Accounts</button></a>
    <a href="http://localhost:8420/forums"><button>Forums</button></a>
    <a href="http://localhost:8420/plants"><button>Plants</button></a>
</div>
</body>
</html>