<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://localhost:8422/css/style.css" />
    <meta charset="UTF-8">
    <title>Botaniac forums</title>
</head>
<body>
<div>
<h1 id="welcome">Welcome to the forums!</h1>
    <h2>Those are the sections you can visit</h2>
    <p id="sections"></p>
</div>
<script>

window.onload= ev=>{
function createSectionDiv(forumSection){
    var anch=document.createElement('a');
    anch.setAttribute('href',"/section?forumSection="+forumSection.name);
    var section = document.createElement('div');
    section.innerText=forumSection.displayName;

    anch.appendChild(section);
    anch.classList.add("section-anchor");
    document.getElementById('sections').appendChild(anch);

    section.classList.add("forum-sections-div");
    var brek = document.createElement('br');
    document.getElementById('sections').appendChild(brek);
}

    $.ajax({
        type: "GET",
        url: 'forumsSections',
    success: function(json_string) {
    var list = JSON.parse(json_string);
       list.forEach((i)=>createSectionDiv(i));
    },
        error: function (e) {
            console.log(e);
        }
    });
};
</script>
</body>
</html>