.form-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.form-field{
    margin-bottom: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
    min-height: 30px;
    border-width: 1px;
    border-radius: 2px;
    border-color: #2d4221;
}
.form-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 10px;
    background-color: #2d4221;
    border-style: none;
    color:beige;
    float: right;
    border-spacing: 10px;
}
.form-button:hover{
    background-color: #757f49;
    color: #2d4221;
}
.form-zone{
    padding: 20px;
}
.navbar-title{
    color: beige;
    background-color: #2d4221;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 20px;
}
.navbar-btn{
    font-size: 20px;
    color: beige;
    background-color: #2d4221;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}
.navbar-btn:hover{
    color: #2d4221;
    background-color: #757f49;
}
.styleless-anchor{
    text-decoration: none;
}
.page-content{
    padding: 30px;
    background-color: #757f49;
    color: #2d4221;
}
.error-label{
color:#ff0000;
}